<div class="center container">
	<div class="jumbotron">
	  <h1>The Lorking blog</h1>
	  <p>Bienvenue sur The Lorking Blog</p>
	  <%= link_to "S'inscrire", "#", class: "btn btn-primary btn-lg" %>
	</div>
</div>