$navbar-default-bg: #0B08C7;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo1 {
	float: left;
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo2 {
	float: left;
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('sport5.jpg');
	backgroud-size: cover; 
	height: 495px;
	width: 1663px;
	
}

.article-actions {
	border-top: 1px solid #bfbfbf;
	padding-top: 15px;
	margin-top: 15px;
	
}

.jumbotron h1 {
	color: blue;
}

.jumbotron p {
	color: blue;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #bfbfbf;
	coler: #333333;

}

footer small {
	float: left;

}

footer ul {
	float: right;
	list-style: none;
}

foot ul li {
	float: left;
	margin-left: 15px;


}