<div class="container">
	<footer>
		<small>
			<%= link_to "All Sport Pro","https://www.allsportpro.com"%> Copyright by Fabi
		</small>
		<nav>
			<ul>
				<li><%= link_to "A propos", about_path %></li>
			</ul>
		</nav>
	</footer>

<div/>